html{
  overflow-x: clip;
} 
body {
  overflow-x: clip;
}
body {
background-color: #060027;
opacity: 1;
background-image: radial-gradient(#05006c 1.55px, #060027 1.55px);
background-size: 31px 31px;

}

.custom_navbar {
    position: sticky;
    top: 20px;
    z-index: 9999 !important;
    border-radius: 20px;
    background-color: #265ebaCC;
    margin: 20px auto 0 auto;
    padding: 0 30px 0 30px;
    width: 80vw
}

.logo_navbar {
    height: 90px;
    width: auto;
    margin: 0;

}
.custom_footer{
    background-color: #265eba;
    color: white;
}

.navbar .nav-link {
  color: #ffffff;
  transition: 0.2s ease;
}

.navbar .nav-link:hover {
  color: red;
}


.custom-heading {
  background: -webkit-linear-gradient(red, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

