<footer class="footer mt-auto py-3 custom_footer">
  <div class="container text-center">
    <span >
      &copy; <%= Time.current.year %> Kartmania. Todos los derechos reservados.
    </span>
  </div>
</footer>