<section class="py-5">
  <div class="container">
    
    <h1 class="display-4 fw-bold text-center mb-5 custom-heading">Nuestros Karts</h1>

    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-white mb-4 mb-md-0">
        <h2 class="display-5 mb-4 fw-normal fst-italic">El pimiento picante</h2>
          <p class="lead ">
            Este kart está hecho para los amantes de la velocidad, no cualquiera esté preparado para
            controlar esta méquina cuya velocidad máxima es de 130km/h, es un kart para expertos, con 
            butacas deportivas, de color rojo gradiente y de los más nuevos en mecánica, actualmente en
            la península somos los únicos con un kart de este nivel.
          </p>
      </div>
      <div class="col-md-6">
        <%= image_tag "red_kart", class: "img-fluid rounded-4 shadow-lg" %>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-md-6 order-last order-md-first">
        <%= image_tag "karts_peques.jpg", class: "img-fluid rounded-4 shadow-lg" %>
      </div>
      <div class="col-md-6 text-white mb-4 mb-md-0">
        <h2 class="display-5 mb-4 fw-normal fst-italic ">La nube azul</h2>
          <p class="lead ">
            Nuestro kart para ya experimentados, que desean tener una tarde llena de adrenalina, sin sobrepasarse de los límites,
            para aquellos que aman la diversión, este kart cuenta con una velocidad máxima de 80km/h y un asiento acolchado de fibra,
            para vivir una experiencia llena de emoción y comodidad. Para conducir este kart de color celeste es necesario tener al menos
            14 años de edad.
          </p>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-white mb-4 mb-md-0">
        <h2 class="display-5 mb-4 fw-normal fst-italic">El dúo dinámico</h2>
          <p class="lead">
            El siempre querido biplaza, una kart para ir acompañado por tu copiloto/a favorito,
            un kart para compartir una experiencia en compañia, un kart veloz y al mismo tiempo
            muy seguro. El piloto cuenta con asiento acolchado y el acompañante una butaca recubierta.
          </p>
      </div>
      <div class="col-md-6">
        <%= image_tag "kart_ultimo_modelo", class: "img-fluid rounded-4 shadow-lg" %>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-md-6 order-last order-md-first">
        <%= image_tag "karts_peques.jpg", class: "img-fluid rounded-4 shadow-lg" %>
      </div>
      <div class="col-md-6 text-white mb-4 mb-md-0">
        <h2 class="display-5 mb-4 fw-normal fst-italic ">El Grillito</h2>
          <p class="lead">
            Para nuestros principiante y peques tenemos a "El Grillito", con su recococible color verde,
            y una velocidad máxima de 40km/h, es el kart apropiado para todos aquellos sin experiencia y que 
            quieren empezar a formar parte del mundo de la velocidad. Para empezar a usar este kart hay que tener
            al menos 9 añitos.
          </p>
      </div>
    </div>
  </div>
</section>