<section class="py-5">
  <div class="container">
    
    <h1 class="display-4 fw-bold text-center mb-5 custom-heading">Nuestros Karts</h1>

    <div class="row align-items-center mb-5">
      <div class="col-md-6 text-white mb-4 mb-md-0">
        <h2 class="display-5 mb-4 fw-bold">El pimiento picante</h2>
            <ul class="list-group list-group-flush align-items-center custom-list mx-auto">
                <li class="list-group-item text-white">Su velocidad máxima es 130km/h</li>
                <li class="list-group-item text-white">Color rojo gradiente</li>
                <li class="list-group-item text-white">Asiento sport</li>
                <li class="list-group-item text-white">Kart uniplaza</li>
                <li class="list-group-item text-white">Vestibulum at eros</li>
            </ul>
      </div>
      <div class="col-md-6">
        <%= image_tag "kart_ultimo_modelo", class: "img-fluid rounded-4 shadow-lg" %>
      </div>
    </div>

    <div class="row align-items-center mb-5">
      <div class="col-md-6 order-last order-md-first">
        <%= image_tag "karts_peques.jpg", class: "img-fluid rounded-4 shadow-lg" %>
      </div>
      <div class="col-md-6 text-white mb-4 mb-md-0">
        <h2 class="display-5 mb-4 fw-bold ">La nube azul</h2>
        <p class="lead">
          En nuestro karting contamos con karts para los más pequeños, para que todos
          puedan participar y liberar la adrenalina que nos genera la velocidad, siempre con protección
          y seguridad, ven y comparte con tus peques y familia
        </p>
      </div>
    </div>

        <div class="row align-items-center mb-5">
      <div class="col-md-6 text-white mb-4 mb-md-0">
        <h2 class="display-5 mb-4 fw-bold ">El dúo dinámico</h2>
            <ul class="list-group list-group-flush align-items-center custom-list mx-auto">
                <li class="list-group-item text-white">Cras justo odio</li>
                <li class="list-group-item text-white">Dapibus ac facilisis in</li>
                <li class="list-group-item text-white">Morbi leo risus</li>
                <li class="list-group-item text-white">Porta ac consectetur ac</li>
                <li class="list-group-item text-white">Vestibulum at eros</li>
            </ul>
      </div>
      <div class="col-md-6">
        <%= image_tag "kart_ultimo_modelo", class: "img-fluid rounded-4 shadow-lg" %>
      </div>
    </div>

  </div>
</section>